/* VARIABLES
*******************************************************************************/
:root {
  --max-page-w: 1600px;
  --content-w: 300px;
  --default-bg-color: #000;
  --default-text-color: var(--light-color);
  --wrapper-bg-color-1: hsla(0, 0%, 10%, 10%);
  --wrapper-bg-color-2: hsla(0, 8%, 3%, 95%);
  --person-bg-color: hsla(36, 71%, 11%, 30%);
  --primary-color: #0f5c30;
  --primary-color-accent: hsl(146, 72%, 11%);
  --danger-color: hsl(326, 72%, 21%);
  --danger-color-accent: hsl(326, 72%, 11%);
  --success-color: var(--primary-color);
  --info-color: hsl(175, 72%, 21%);
  --light-color: ghostwhite;
  --form-submit-btn-w: 75px;
  --form-submit-btn-h: 30px;
  --person-btn-w: 60px;
  --person-btn-h: 20px;
}

/* RESETS
*******************************************************************************/
* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

/* GENERAL STYLES
*******************************************************************************/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* COMPONENTS
*******************************************************************************/
.o-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: var(--max-page-w);
}

.o-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: linear-gradient(
    45deg,
    var(--wrapper-bg-color-2),
    var(--wrapper-bg-color-2),
    var(--wrapper-bg-color-2)
  );
  width: var(--content-w);
}

.u-italic {
  font-style: italic;
}

.u-bold {
  font-weight: bold;
}

.c-btn {
  text-align: center;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
  background: var(--primary-color);
  color: var(--light-text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 400ms ease, color 200ms ease, transform 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.c-btn:hover {
  background: var(--primary-color-accent);
}

.c-btn.c-btn--danger {
  background: var(--danger-color);
}

.c-btn.c-btn--danger:hover {
  background: var(--danger-color-accent);
}

/* Alert Components will be created dynamically with JavaScript */
.c-alert {
  /* width: var(--calculator-w); */
  background: var(--default-bg-color);
  color: var(--default-txt-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 0.3rem;
  margin: 0.25rem 0;
  font-size: 1rem;
}

.c-alert.c-alert--error {
  background-color: var(--danger-color);
  color: var(--light-color);
}

.c-alert.c-alert--success {
  background-color: var(--success-color);
  color: var(--light-color);
}

.c-alert.c-alert--info {
  background-color: var(--info-color);
  color: var(--light-color);
}

.c-alert.c-alert--is-hidden {
  display: none;
}

.c-form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.75rem;
}

.c-form-row__label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1rem;
}

.c-form-row__input {
  background-color: #ffffff;
  border: 1px solid var(--light-color);
  border-radius: 3px;
  padding: 0.25rem;
  font-size: 1rem;
  width: 90%;
}

.c-person-form {
  margin: 1rem 0;
}

.c-person-form__heading {
  margin-bottom: 0.5rem;
}

.c-person-form__submit {
  font-size: 1rem;
  width: var(--form-submit-btn-w);
  height: var(--form-submit-btn-h);
}

.c-filter {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.c-filter__heading {
  margin-bottom: 0.5rem;
}

.c-persons {
  margin: 1rem 0;
}

.c-persons__heading {
  margin: 0;
}

.c-person {
  background-color: var(--person-bg-color);
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  align-items: center;
}

.c-person__detail {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0.5rem;
  font-weight: 400;
}

.c-person__delete {
  margin-top: 0.25rem;
  width: 100%;
}

.c-person__delete-btn {
  font-size: 0.75rem;
  width: var(--person-btn-w);
  height: var(--person-btn-h);
}

@media (min-width: 360px) {
  :root {
    --content-w: 340px;
  }
}

@media (min-width: 480px) {
  :root {
    --content-w: 460px;
  }

  .c-form-row__input {
    width: 80%;
  }
}

@media (min-width: 768px) {
  :root {
    --content-w: 700px;
    --form-submit-btn-w: 125px;
    --form-submit-btn-h: 35px;
    --person-btn-w: 80px;
    --person-btn-h: 30px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .c-alert {
    margin-left: 145px;
    width: 500px;
    font-size: 1.1rem;
    padding: 0.35rem;
  }

  .c-form-row {
    flex-direction: row;
    align-items: center;
  }

  .c-form-row__label {
    flex: 130px 0;
    text-align: right;
    margin-right: 15px;
  }

  .c-form-row__input {
    width: 400px;
  }

  .c-person-form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .c-person-form__heading {
    margin-left: 145px;
  }
  .c-person-form__submit {
    font-size: 1rem;
    margin-left: 145px;
  }

  .c-filter {
    margin-left: 145px;
    width: 350px;
    align-items: flex-start;
  }

  .c-persons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 145px;
    width: 500px;
  }

  .c-person {
    padding: 0.5rem;
    width: 100%;
  }

  .c-person__detail {
    font-size: 1rem;
  }

  .c-person__delete {
    margin-left: auto;
    padding: 0 0.75rem;
    width: auto;
  }
}
