/* VARIABLES
*******************************************************************************/
:root {
  --max-page-w: 1440px;
  --body-overflow: unset;
  --primary-color: hsl(187, 56%, 23%);
  --primary-color-accent: hsl(188, 56%, 18%);
  --primary-color-faded: rgba(4, 12, 14, 0.75);
  --success-color: #335b1a;
  --info-color: #257783;
  --danger-color: #833125;
  --light-color: hsl(240, 100%, 99%);
  --dark-color: hsl(0, 0%, 0%);
  --body-bg-color: var(--primary-color-faded);
  --modal-bg-color: hsla(188, 56%, 23%, 50%);
  --modal-spinner-size: 3.5rem;
  --login-w: 305px;
  --input-font-size: 0.85rem;
  --alert-padding: 0.4rem 0.3rem;
  --alert-font-size: 1rem;
  --navbar-bg-color: hsl(188, 56%, 8%);
  --navbar-padding: 0.5rem 1rem;
  --navbar-brand-font-size: 1.5rem;
}

/* RESETS
*******************************************************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* TYPOGRAPHY
*******************************************************************************/
@font-face {
  font-family: "Dosis";
  src: url("./fonts/Dosis-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Dosis";
  src: url("./fonts/Dosis-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: 700;
}

/* GENERAL STYLES
*******************************************************************************/
body {
  background-color: var(--body-bg-color);
  font-size: 16px;
  overflow: var(--body-overflow, unset);
}

/* OBJECTS
*******************************************************************************/
.o-wrapper {
  min-height: 100vh;
  width: 100%;
}

.o-wrapper.o-container--hasModal {
  position: relative;
}

.o-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* UTILITIES
*******************************************************************************/
.u-lead {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 1px;
}

/* COMPONENTS
*******************************************************************************/

/* Alert Components will be created dynamically with JavaScript */
.c-alert {
  background: #000;
  color: #fff;
  font-family: "Dosis";
  font-weight: 500;
  text-align: center;
  padding: var(--alert-padding);
  margin-top: 0.5rem;
  font-size: var(--alert-font-size);
}

.c-alert.c-alert--inLogin {
  width: var(--login-w);
}

.c-alert.c-alert--inBlog {
  width: 90%;
  margin: 0.5rem auto;
}

.c-alert.c-alert--error {
  background-color: var(--danger-color);
  color: var(--light-color);
}

.c-alert.c-alert--success {
  background-color: var(--success-color);
  color: var(--light-color);
}

.c-alert.c-alert--info {
  background-color: var(--info-color);
  color: var(--light-color);
}

/* Modal Component */
.c-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);
  z-index: 9999;
}

.c-modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner to indicate loading */
.c-spinner {
  color: var(--light-color);
}

.c-spinner.c-spinner--inModal {
  font-size: var(--modal-spinner-size);
}

/* Button Component */
.c-btn {
  text-align: center;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
  background: hsl(0, 0%, 0%);
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 400ms ease, color 200ms ease, transform 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.c-btn:hover {
  background: hsl(0, 0%, 10%);
}

.c-btn.c-btn--light-outline {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 1px solid var(--light-color);
}

.c-btn.c-btn--light-outline:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 1px solid var(--light-color);
}

.c-btn.c-btn--primary {
  background: var(--primary-color);
}

.c-btn.c-btn--primary:hover {
  background: var(--primary-color-accent);
}

/* Input Row */
.c-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.c-row__input {
  background-color: #ffffff;
  border: 1px solid #7e8d85;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  font-family: "Roboto";
  font-weight: 400;
  font-size: var(--input-font-size);
  width: 85%;
  height: 45px;
  transition: all 0.1s ease-in;
}

.c-row__input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 1px 2px 0 0 var(--primary-color-faded);
}

.c-row.c-row--hasAddon {
  position: relative;
}

/* Input Addon */
.c-input-addon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 7.5%;
  margin-right: 10px;
  height: 100%;
}

.c-input-addon--isToggler {
  cursor: pointer;
}

.c-input-addon__icon {
  font-size: 1.2rem;
  color: hsla(148, 6%, 52%, 75%);
  transition: color 0.3s ease-in;
}

.c-input-addon__icon:hover {
  color: hsla(148, 6%, 52%, 100%);
}

/* Login Component */
.c-login {
  background: var(--light-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: var(--login-w);
  font-family: "Dosis";
}

.c-login__header {
  border-bottom: 2px solid var(--primary-color);
  display: flex;
  padding: 1rem;
  background: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.c-login__body {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-login__button {
  font-family: "Roboto";
  font-weight: 700;
  margin-top: 1.5rem;
  width: 70%;
  height: 45px;
}

/* Navbar Component */
.c-navbar {
  width: 100vw;
  background-color: var(--navbar-bg-color);
  color: var(--light-color);
}

.c-navbar__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--max-page-w);
  padding: var(--navbar-padding);
}

.c-navbar__brand {
  font-family: "Roboto";
  font-weight: 700;
  font-size: var(--navbar-brand-font-size);
  text-transform: uppercase;
}

.c-navbar__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.c-navbar__userinfo {
  font-weight: 300;
  margin-right: 1rem;
}
.c-navbar__usericon {
  margin-right: 0.5rem;
}

.c-navbar__spinner {
  margin-left: 0.5rem;
}

.c-navbar__spinner.isHidden {
  display: none;
}

.c-navbar__logout {
  font-weight: 700;
  font-size: 0.8rem;
  width: 65px;
  height: 25px;
}

/* Blogs Page */
.c-blogs {
  width: 100%;
  max-width: var(--max-page-w);
  background-color: var(--light-color);
  font-family: "Roboto";
}

/* BlogList component */
.c-blogs__list {
  padding: 1rem;
}

.c-blogs__heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--primary-color-faded);
}

/* Single Blog Entry */
.c-blog {
  background-color: hsl(210, 13%, 95%);
  font-family: "Dosis";
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem 0;
  padding: 0.25rem;
  border-radius: 2px;
  width: fit-content;
}

.c-blog__link {
  text-decoration: none;
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.c-blog__link:hover {
  text-decoration: underline;
}

.c-blog__author {
  margin-right: 0.5rem;
  font-weight: 300;
}

/* MEDIA QUERIES
*******************************************************************************/
@media (min-width: 360px) {
  :root {
    --login-w: 345px;
  }
}

@media (min-width: 400px) {
  :root {
    --login-w: 380px;
  }
}

@media (min-width: 480px) {
  :root {
    --modal-spinner-size: 4rem;
    --login-w: 450px;
    --input-font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  :root {
    --input-font-size: 1rem;
    --modal-spinner-size: 6rem;
    --alert-padding: 0.5rem 0.35rem;
    --alert-font-size: 1.2rem;
    --login-w: 500px;
    --navbar-padding: 1.5rem;
    --navbar-brand-font-size: 1.7rem;
  }

  .c-navbar__content {
    flex-direction: row;
    justify-content: space-between;
  }

  .c-navbar__userinfo {
    font-weight: 300;
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  .c-navbar__usericon {
    margin-right: 0.5rem;
  }

  .c-navbar__logout {
    font-weight: 700;
    font-size: 1rem;
    width: 100px;
    height: 30px;
  }

  .c-login__header {
    justify-content: center;
    text-transform: uppercase;
  }

  .c-login__body {
    padding: 2rem;
  }

  .c-login__button {
    font-size: 1.2rem;
    width: 70%;
    height: 50px;
  }

  .c-blogs__list {
    padding: 1.5rem;
  }

  .c-blogs__heading {
    font-size: 1.7rem;
    margin-bottom: 0.75rem;
  }

  .c-blog {
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 4px;
  }

  .c-blog__link {
    margin-right: 0.75rem;
  }

  .c-blog-author {
    margin-right: 0.75rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --navbar-padding: 1.5rem 2rem;
    --navbar-brand-font-size: 1.8rem;
  }

  .c-blogs__list {
    padding: 1.5rem 2rem;
  }

  .c-blogs__heading {
    font-size: 1.9rem;
  }

  .c-blog {
    font-size: 1.2rem;
  }
}
