/* VARIABLES
*******************************************************************************/
:root {
  --max-page-w: 1600px;
  --body-overflow: unset;
  --primary-color: hsl(188, 56%, 23%);
  --primary-color-accent: hsl(188, 56%, 18%);
  --primary-color-faded: rgba(4, 12, 14, 0.75);
  --light-color: hsl(240, 100%, 99%);
  --dark-color: hsl(0, 0%, 0%);
  --body-bg-color: hsl(210, 13%, 50%);
  --modal-bg-color: hsla(188, 56%, 23%, 50%);
  --modal-spinner-size: 3.5rem;
  --login-w: 305px;
}

/* RESETS
*******************************************************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* TYPOGRAPHY
*******************************************************************************/
@font-face {
  font-family: "Dosis";
  src: url("./fonts/Dosis-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: 700;
}

/* GENERAL STYLES
*******************************************************************************/
body {
  background-color: var(--body-bg-color);
  font-size: 16px;
  overflow: var(--body-overflow, unset);
}

/* OBJECTS
*******************************************************************************/
.o-wrapper {
  min-height: 100vh;
  width: 100%;
  max-width: var(--max-page-w);
}

.o-wrapper.o-container--hasModal {
  position: relative;
}

.o-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* COMPONENTS
*******************************************************************************/

.c-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);
  z-index: 9999;
}

.c-modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-spinner {
  color: var(--light-color);
}

.c-spinner.c-spinner--inModal {
  font-size: var(--modal-spinner-size);
}

.c-btn {
  text-align: center;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
  background: hsl(0, 0%, 0%);
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 400ms ease, color 200ms ease, transform 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.c-btn:hover {
  background: hsl(0, 0%, 10%);
}

.c-btn.c-btn--primary {
  background: var(--primary-color);
}

.c-btn.c-btn--primary:hover {
  background: var(--primary-color-accent);
}

.c-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.c-row__input {
  background-color: #ffffff;
  border: 1px solid #7e8d85;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  width: 85%;
  height: 45px;
  transition: all 0.1s ease-in;
}

.c-row__input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 1px 2px 0 0 var(--primary-color-faded);
}

.c-row.c-row--hasAddon {
  position: relative;
}

.c-input-addon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 7.5%;
  margin-right: 10px;
  height: 100%;
}

.c-input-addon--isToggler {
  cursor: pointer;
}

.c-input-addon__icon {
  font-size: 1.2rem;
  color: hsla(148, 6%, 52%, 75%);
  transition: color 0.3s ease-in;
}

.c-input-addon__icon:hover {
  color: hsla(148, 6%, 52%, 100%);
}

.c-login {
  background: var(--light-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: var(--login-w);
  font-family: "Dosis";
}

.c-login__header {
  border-bottom: 2px solid var(--primary-color);
  display: flex;
  padding: 1rem;
  background: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.c-login__body {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-login__button {
  font-family: "Roboto";
  font-weight: 700;
  margin-top: 1.5rem;
  width: 70%;
  height: 45px;
}

@media (min-width: 360px) {
  :root {
    --login-w: 345px;
  }
}

@media (min-width: 400px) {
  :root {
    --login-w: 380px;
  }
}

@media (min-width: 480px) {
  :root {
    --modal-spinner-size: 4rem;
    --login-w: 450px;
  }
}

@media (min-width: 768px) {
  :root {
    --modal-spinner-size: 6rem;
    --login-w: 500px;
  }

  .c-login__header {
    justify-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .c-login__body {
    padding: 2rem;
  }

  .c-login__button {
    font-size: 1.2rem;
    width: 70%;
    height: 50px;
  }
}

@media (min-width: 1024px) {
}
